@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* CSS Reset */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gold-color: #f7ce3e;
  --black-color: #161918;
  --white-color: #ffff;
  --grey-color: rgb(224, 223, 223);
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

h1,
h2 {
  line-height: 1.2;
}

i {
  font-size: 18px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* Button CSS */
.btn {
  display: inline-block;
  padding: 10px 25px !important;
  cursor: pointer;
  background-color: var(--gold-color);
  color: #000 !important;
  border: 3px solid #000;
  text-transform: uppercase;
  border-radius: 50px;
}

.btn:hover {
  background-color: #000  !important;
  color: var(--white-color) !important;
  border: 2px solid var(--gold-color);
}

/* Navigation Bar CSS */

.logo {
  color: var(--gold-color) !important;
  font-size: 30px;
  text-transform: uppercase;
}

.logo:hover {
  color: var(--white-color) !important;
  border: none !important;
}

.navbar {
  position: fixed;
  background-color: var(--black-color);
  color: var(--white-color);
  height: 80px; width: 100%;
  top: 0;
  z-index: 9999;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--white-color);
  padding: 10px;
  margin: 0 5px;
  font-weight: 800 !important;
  text-transform: uppercase;
}

.navbar a:hover {
  color: var(--gold-color);
  border-bottom: 2px solid var(--gold-color);
}

.navbar .flex {
  justify-content: space-between;
}


/* Banner and BG-Image CSS */

section#content-wrapper {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.banner-container {
  z-index: 999;
}

section#content-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  background-image: url(/images/keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transform: scale(1.1);
  filter: blur(7px); 
  -webkit-filter: blur(7px);
}

.bannerH2 {
  font-size: 36px;
  color: aliceblue;
  font-weight: 600 !important;
}

.bannerH1 {
  font-size: 46px;
  font-weight: 600 !important;
  padding: 30px;
  color: var(--gold-color);
}

.txt-type > .txt {
  border-right: 0.3rem solid #f7ce38;
  animation: blinkTextCursor 200ms steps(80) infinite normal;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: var(--gold-color);
  }

  to {
    border-right-color: transparent;
  }
}

/* About CSS */

#about {
  height: 100vh;
  background-color: var(--black-color);
  display: grid;
  place-items: center;
}

.about-container {
  padding: 30px;
}

#content {
  color: var(--grey-color);
  text-align: center;
  line-height: 1.9;
  font-size: 1.3rem;
  width: 70%;
  margin: 0 auto;
  font-weight: 500;
}

.title {
  width: 25%;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border: 3px solid var(--black-color);
  background-color: var(--gold-color);
  color: var(--black-color);
}

/* Contact CSS */

#contact {
  background: var(--grey-color);
  height: 100vh;
  display: grid;
  overflow: hidden;
  top: 50px;
  place-items: center;
}

.contact-container #phone,
.contact-container #location,
.contact-container #email,
.contact-container #hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 10px;
  height: 140px;
}

#phone,
#location {
  background-color: var(--black-color);
  color: var(--grey-color) !important;
}

.contact-container #email,
#hello {
  background-color: var(--gold-color);
}

#location p,
#phone a,
.contact-container #email a {
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  padding: 10px;
}

.contact-container #email a {
  color: var(--black-color);
}

#location p,
#phone a {
  color: var(--grey-color);
}

.contact-container #email .bannerH2,
.contact-container #email a,
#hello .bannerH2 {
  color: #000 !important;
  font-weight: 700;
}

#hello .bannerH2 {
  font-size: 1.4rem;
}

/* ****************Responsive CSS ********************* */

/* Mobile Media Query */

/* Typical Mobile Devices */
@media only screen and (min-width: 250px) and (max-width: 399px) {
  .navbar {
    height: 120px;
  }

  .navbar ul li a {
    font-size: 0.6rem;
    padding: 0 3px;
  }

  .navbar ul li a:hover {
    border: none;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .logo {
    font-size: 1.2rem;
  }

  .bannerH1 {
    font-size: 1.2rem;
  }

  .bannerH2 {
    font-size: 1.3rem;
  }

  .btn {
    border: 0.4px solid #000;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    padding: 5px !important;
  }

  .navbar .flex {
    justify-content: center;
  }
}

